<div class="modal fade" id="modal-create">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Create</h5>
                <button type="button" class="close" data-dismiss="modal">
                	<span>&times;</span>
                </button>
			</div>
            <div class="modal-body">
            	<form id = 'create_form' action="{% url 'create' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name_id">Name</label>
                        <input type="text" class="form-control" id="name_id" placeholder="Enter name" name="name" required/>
                    </div>

                    <div class="form-group">
                    	<label for="create_form_dob">Date of Birth</label>
                        <input class="form-control" id="create_form_dob"  placeholder="YYYY-MM-DD" name="date"/>
                    </div>

                    <div class="form-group">
                    	<label for="create_form_image">Image</label>
                        <input type="file" id="create_form_image" name="pic" accept="image/*">
                    </div>

                    <button  class="btn btn-primary" id="create_person">Create new person</button>

            	</form>
            </div>
		</div>
	</div>
</div>