{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

                    {% if messages %}
                    	{% for message in messages %}
                    		<div class="alert alert-{{ message.tags }}">
                    			<a href="#" class="close" data-dismiss="alert">&times;</a>
                                {{ message }}
                    		</div>
                    	{% endfor %}
                    {% endif %}

<button type="button"  data-toggle="modal" data-target="#modal-create">ADD</button>

<body>
<table>
    <thead>
        <tr>
            <th class="Name">Name</th>
            <th class="DOB">Year</th>
            <th class="Update">Update</th>
            <th class="delete">Delete</th>
        </tr>
    </thead>
    <tbody id="table_id">
        {% for p in people %}
        <tr>
            <td>{{p.name}}</td>
            <td>{{p.dob|date:'Y-m-d' }}</td>
            <td><button data-toggle="modal" data-target="#edit-modal-{{p.id}}">Update</button></td>
            <td><button data-toggle="modal" data-target="#myModal-{{p.id}}">Delete</button></td>
        </tr>
            {% include 'ajax_submit_search_app/update_modal.html' %}
            {% include "ajax_submit_search_app/delete_modal.html" %}


        {% endfor %}

    </tbody>
</table>
<script src="{% static 'ajax_submit_search_app/main.js'%}"></script>
{% include "ajax_submit_search_app/create_modal.html" %}


</body>