{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

                    {% if messages %}
                    	{% for message in messages %}
                    		<div class="alert alert-{{ message.tags }}">
                    			<a href="#" class="close" data-dismiss="alert">&times;</a>
                                {{ message }}
                    		</div>
                    	{% endfor %}
                    {% endif %}

<button type="button"  data-toggle="modal" data-target="#modal-create">ADD</button>


<form id="search_form" method="post">
    {% csrf_token %}
    <input id="search_bar" type="text" placeholder="Search..">
</form>


<body>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody id="table_id">


        {% for p in people %}
        <tr>
            <td class="name">{{p.name}}</td>
            <td class="date">{{p.dob|date:'Y-m-d' }}</td>
            <td class="update" data-id="{{p.id}}"><button>Update</button></td>
            <td class="delete" data-id="{{p.id}}"><button>Delete</button></td>
        </tr>
       {% endfor %}

    </tbody>
</table>
<p id="No-result-tag"></p>
{% include "ajax_submit_search_app/create_modal.html" %}



<!--- DELETE MODAL --->
<!-- Modal -->
<div id="myModal-DELETE" class="modal fade" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>

    </div>
    <div class="modal-body">
        <form id="delete_form" method="post">
            {% csrf_token %}
            <p id="delete_question"> Are You Sure? </p>
            <input type="submit" value="Confirm"/>
        </form>
    </div>
  </div>
</div>
</div>





<!-- UPDATE MODAL-->
<div class="modal fade" id="myModal-EDIT">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editModal"><!--{{p.name}}--></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			</div>
            <div class="modal-body">
            	<form id = "update_form" method="post">
                    {% csrf_token %}

            		<div class="form-group">
            			<label for="editName">Name</label>
                        <input type="text" class="form-control" id="editName" placeholder="Enter name" name="name" value="" required/>
            		</div>

                    <div class="form-group">
                    	<label for="update_form_dob">Date of Birth</label>
                        <input class="form-control" id="update_form_dob" value="" name="date"/>
                    </div>

                    <input type="submit" value="Confirm"/>

            	</form>
            </div>
		</div>
	</div>
</div>

<script src="{% static 'ajax_submit_search_app/main.js' %}"></script>
</body>
