<div class="modal fade" id="edit-modal-{{p.id}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editModal">{{ p.name}}</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			</div>
            <div class="modal-body">
            	<form id = "update_form" action="{% url 'update' id=p.id %}" method="post">
                    {% csrf_token %}

            		<div class="form-group">
            			<label for="editName">Name</label>
                        <input type="text" class="form-control" id="editName" placeholder="Enter name" name="name" value="{{p.name}}" required/>
            		</div>

                    <div class="form-group">
                    	<label for="update_form_dob">Date of Birth</label>
                        <input class="form-control" id="update_form_dob" value="{{p.dob|date:'Y-m-d' }}" name="date"/>
                    </div>

                    <button  class="btn btn-primary">Update</button>

            	</form>
            </div>
		</div>
	</div>
</div>